      .cabecalho
h1 {
    color: Black;
}
h2{
    color: black;
}
h3{
    color: black;
}
h4 {
    color: black;
}

body {
    background-color: ;

    text-align: center;
}
.imagem1 {
    width: 30%;
}
.imagemcentralizada {
 text-align: center;
}

.unicornio {
    font-style: initial;

}
.brilho {
   color: green;
    font-style: italic
}
.lista {
        display: inline-block;
        padding: 10%;
        margin-right: 10%;
        color: rgb(125, 242, 194);
        padding: 10%;
        border-color: none;
        border-width: 5px;
        border-style: solid;
        border-radius: 20px 50px 15px 120px;
    }

nav a{
    text-transform: uppercase;
    text-align: center;
    color: dark;
    font-weight: 300;
    font-size: 100%;
    text-decoration: none ;
    border-color: none;
    border-width: 5px;
    border-style: solid; 
    backgound-color: gray;
}
nav a:hover {
    color: black;
    text-decoration: underline;
}

footer {
    background-color: white;
}
